[user]  name = Jared.Fowler
email = jared.fowler@aofl.com

[credential]
helper = cache
help = cache --timeout 1800
[core]
autocrlf = input
safecrlf = true
editor = vim
whitespace = trailing-space,tabwidth=2
[push]
default = simple
followTags = true
[alias]
co = checkout
ci = commit
c = commit -m
st = status
br = branch
hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short	
type = cat-file -t
dump = cat-file -p
ga=git add
gb=git branch
gc=git commit
gd=git diff
go=git checkout
gk=gitk --all&
gx=gitx --all
pum=pull upstream master
pom=pull origin master
subup=submodule update
diffm=diff --dirstat=files,cumulative --name-only HEAD master
prune=fetch --prune
# list latest commits and branches on remote repo
# https://stackoverflow.com/questions/5188320/how-can-i-get-a-list-of-git-branches-ordered-by-most-recent-commit#answer-5188364
llrr=for-each-ref --sort=-committerdate refs/remotes/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[diff]
	tool = vimdiff
[transfer]
  fsckobjects = true
  # To combat repository corruption!
  # Note: this global option applies during receive and transmit
  # https://git-scm.com/docs/git-config#git-config-transferfsckObjects
  # via https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
