[user]  name = jafow
email = jared.a.fowler@gmail.com

[credential]
helper = cache
help = cache --timeout 1800
[core]
autocrlf = input
safecrlf = true
editor = vim
whitespace = trailing-space,tabwidth=2
[push]
default = simple
[alias]
co = checkout
ci = commit
st = status
br = branch
hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short	
type = cat-file -t
dump = cat-file -p
ga=git add
gb=git branch
gc=git commit
gd=git diff
go=git checkout
gk=gitk --all&
gx=gitx --all
pum=pull upstream master
pom=pull origin master
