priority -50

###########################################################################
#                            TextMate HTML% Snippets                            #
###########################################################################

snippet html5 "html5 doc boilerplate"
<!DOCTYPE html5>
	<head>
		<link rel="stylesheet" type="text/css" href="${1:link}" />
	</head>
	<body>
	</body>
</html>
endsnippet

